
/* @media (max-width: 800px) {
  .survey-area .blank{
    padding-top: 10vh;
  }
}

@media (max-width: 1024px) {
  .survey-area .blank{
    padding-top: 70vh;
  }
}

@media (max-width: 900px) {
  .survey-area .blank{
    padding-top: 10vh;
  }
} */

