.mainContainer {
  width: 100dvw;
  height: 100dvh;
  overflow-y: auto;
  position: relative;
  justify-content: center;
  align-items: center;
}
.childContent {
  display: flex;
  z-index: 1;
  width: 100dvw;
  height: 100dvh;
  justify-content: center;
  align-items: center;
  position: relative;
}
