.revolving-line-border {
    position: relative;
    border-radius: 0.75rem;
    z-index: 0;
  }
  
  .revolving-line-border::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0.75rem;
    padding: 2px;
    background: transparent;
    z-index: -1;
    pointer-events: none;
  }
  
  .revolving-line-border::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0.75rem;
    padding: 2px;
    background: linear-gradient(
      to right,
      transparent,
      #A0FF06,
      transparent
    );
    background-repeat: no-repeat;
    background-size: 200% 100%;
    animation: moveBorder 4s linear infinite;
    z-index: -1;
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    filter: blur(4px);
  }
  @keyframes moveBorder {
    0% {
      background-position: 200% 0%;
    }
    100% {
      background-position: -200% 0%;
    }
  }
    